html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #f2f2f2;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #333333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;s
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border:0;
  clip-path: inset(100%);
}

.navigation__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 15px;
  position: relative;
}

.navigation__item--logo {
  width: 140px;
}

.navigation__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.navigation__link--active {
  color: #766357;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #81b3d2;
}

.navigation__link:active {
  color: #b2b2b2;
}

.navigation__logo {
  position: absolute;
  top: 0;
}

.intro__img {
  height: 500px;
  width: 1200px;
}

.promo {
  margin-top: 20px;
  margin-bottom: 30px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.section-header__slogan {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.section-header__text {
  text-align: center;
}

.promo__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.promo__item {
  flex-grow: 1;
}

.promo__box {
  display: flex;
  flex-direction: row;
}

.promo__container-text {
  width: 400px;
  height: 250px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.line::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: -2px;
  left: -5px;
}

.line::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 2px;
  background-color: #fff;
  position: relative;
  top: -2px;
  left: 5px;
}

.promo__img {
  width: 800px;
  height: 250px;
}

.promo__container-text--gray {
  background-color: #eeeeee;
  color: #333333;
}

.line--black::before {
  background-color: #333333;
}

.line--black::after {
  background-color: #333333;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom:40px;
}

.items__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.section-header__slogan--bold {
  font-size: 30px;
}

.aside__dropdown-container {
  position: relative;
}

.btn {
  background-color: #766357;
  border: none;
  color: white;
  padding-top: 1px;
  padding-right: 10px;
  padding-bottom: 1px;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

.btn--large {
  padding-top: 35px;
  padding-right: 140px;
  padding-bottom: 35px;
  padding-left: 140px;
  margin: auto;
}

.btn__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
}

.btn__text--large {
  font-size: 21px;
  line-height: 26px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 567px;
  min-height: 400px;
  background-color: white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  padding: 55px;
}

.dropdown__search-form-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.dropdown__form-ladel {
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  min-width: 112px;
  padding-left: 10px;
}

.date-input {
  flex-grow: 1;
  position: relative;
}
.form-input {
  background-color: #f2f2f2;
  flex-grow: 1;
  width: 100%;
  border: none;
  padding: 13px;
  font-weight: 700;
  line-height: 1;
  color: #000000;
  text-transform: uppercase;
}

.date-input__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 8px;
  padding-bottom: 8px;
}
